.card-pansions
	.card-pansions__heading
		a(href="#").card-pansions__link
			h2.card-pansions__title Пансионат "Зенит"
			span.card-pansions__addres Республика Крым, Морское
	.card-pansions__slides
		.card-pansions__slide
			a(href="#").card__link
				img(src="img/slide1.jpg", alt="")
		.card-pansions__slide
			a(href="#").card__link
				img(src="img/slide2.jpg", alt="")
		.card-pansions__slide
			a(href="#").card__link
				img(src="img/slide3.jpg", alt="")
		.card-pansions__slide
			a(href="#").card-pansions__link
				img(src="img/slide4.jpg", alt="")
	.card-pansions__nav
		i.icon.icon_prev.card-pansions__nav-prev
		i.icon.icon_next.card-pansions__nav-next