.card
	.card__heading
		a(href="#").card__link
			h2.card__title Пансионат "Зенит"
			span.card__addres Республика Крым, Морское
	.card__slides
		.card__slide
			a(href="#").card__link
				img(src="img/slide1.jpg", alt="")
		.card__slide
			a(href="#").card__link
				img(src="img/slide2.jpg", alt="")
		.card__slide
			a(href="#").card__link
				img(src="img/slide3.jpg", alt="")
		.card__slide
			a(href="#").card__link
				img(src="img/slide4.jpg", alt="")
	.card__nav
		i.icon.icon_prev.card__nav-prev
		i.icon.icon_next.card__nav-next