footer
	.container
		.footer__top
			.footer__side.footer__side_left
				a(href="/")
					img(src="img/logo-footer.png", alt="")
			.footer__side.footer__side_right
				a(href="#").footer__article Статьи
				span.join__title Присоединяйтесь:
				ul.join.footer__join
					li.join__item
						a(href="#").join__link
							i.icon.icon_vk
					li.join__item
						a(href="#").join__link
							i.icon.icon_fb
					li.join__item
						a(href="#").join__link
							i.icon.icon_tw
		.footer__bottom
			p.copyright &copy; 2015. Пансионаты ОАК. Все права защищены.
			p.copyright Воспроизведение или распростронение материалов в любой форме может производиться только с письменного разрешения ОАК.