header
	.container
		.logo.header__logo
			a(href="/").logo__link
				img(src="img/logo.png", alt="").logo__picture
				span.logo__text Здоровье
		ul.main-menu.header__main-menu
			li.main-menu__item.main-menu__item_sub-menu
				a(href="#").main-menu__link Пансионаты
				ul.sub-menu
					li.sub-menu__item
						a(href="#").sub-menu__link Зенит
					li.sub-menu__item
						a(href="#").sub-menu__link Полет
					li.sub-menu__item
						a(href="#").sub-menu__link Кулон
					li.sub-menu__item
						a(href="#").sub-menu__link Радуга
					li.sub-menu__item
						a(href="#").sub-menu__link Чайка, Московская область
					li.sub-menu__item
						a(href="#").sub-menu__link Чайка, Иркутская область
			li.main-menu__item
				a(href="#").main-menu__link Новости и акции
			li.main-menu__item
				a(href="#").main-menu__link Корпоротивным клиентам
			li.main-menu__item
				a(href="#").main-menu__link Турагенствам
			li.main-menu__item
				a(href="#").main-menu__link О компании
			li.main-menu__item
				a(href="#").main-menu__link Контакты
		form(action="/").search-header.header__search-header
			input(type="text" placeholder="Поиск").search-header__input
			button(type="submit").search-header__button Найти
		a(href="#").header__search
			i.icon.icon_search
		.header__datetime
			span.header__time#time 11:28
			span.header__date#date 26 декабря
		.header__call
			span.header__call-label Звоните круглосуточно:
			a(href="tel:84959918855").header__phone (495) 991-88-55