header
	.container
		.logo.header__logo
			a(href="/").logo__link
				img(src="img/logo.png", alt="").logo__picture
				span.logo__text Здоровье
		ul.main-menu.header__main-menu
			li.main-menu__item
				a(href="#").main-menu__link Пансионаты
			li.main-menu__item
				a(href="#").main-menu__link Новости и акции
			li.main-menu__item
				a(href="#").main-menu__link Корпоротивным клиентам
			li.main-menu__item
				a(href="#").main-menu__link Турагенствам
			li.main-menu__item
				a(href="#").main-menu__link О компании
			li.main-menu__item
				a(href="#").main-menu__link Контакты
		a(href="#").header__search
			i.icon.icon_search
		.header__datetime
			span.header__time#time 11:28
			span.header__date#date 26 декабря
		.header__call
			span.header__call-label Звоните круглосуточно:
			a(href="tel:84959918855").header__phone (495) 991-88-55