.pagination
	span.pagination__title Страницы
	ul.pagination__list
		li.pagination__item.active
			a(href="#").pagination__link 1
		li.pagination__item
			a(href="#").pagination__link 2
		li.pagination__item
			a(href="#").pagination__link 3