.search-result__item
	span.search-result__date 14.01.2016
	h3.search-result__title Ванная комната
	p.search-result__text ...Далеко-далеко за словесными <strong class="blue-text">горами в стране</strong>, гласных и согласных живут рыбные тексты. Эта ручеек, даже на берегу ты все города, моей заманивший образ...