.tab.tab_description.active
	.tab__side.tab__side_left
		ul.desc-icon
			li.desc-icon__item
				i.icon.icon_cold
				span.desc-icon__tooltip Круглосуточная стойка регистрации
			li.desc-icon__item
				i.icon.icon_dinner
				span.desc-icon__tooltip Круглосуточная стойка регистрации
			li.desc-icon__item
				i.icon.icon_cocktail
				span.desc-icon__tooltip Круглосуточная стойка регистрации
			li.desc-icon__item
				i.icon.icon_shower
				span.desc-icon__tooltip Круглосуточная стойка регистрации
			li.desc-icon__item
				i.icon.icon_wi-fi
				span.desc-icon__tooltip Круглосуточная стойка регистрации
			li.desc-icon__item
				i.icon.icon_bed
				span.desc-icon__tooltip Круглосуточная стойка регистрации
			li.desc-icon__item
				i.icon.icon_child
				span.desc-icon__tooltip Круглосуточная стойка регистрации
			li.desc-icon__item
				i.icon.icon_animal
				span.desc-icon__tooltip Круглосуточная стойка регистрации
			li.desc-icon__item
				i.icon.icon_tv
				span.desc-icon__tooltip Круглосуточная стойка регистрации
			li.desc-icon__item
				i.icon.icon_24
				span.desc-icon__tooltip Круглосуточная стойка регистрации
		.tab__text
			p.tab__paragraph Современный четырехзвездочный отель удобно расположен всего в 500 метрах от центрального железнодорожного вокзала. К услугам гостей бесплатный Wi-Fi и круглосуточная стойка регистрации.

			p.tab__paragraph Светлые кондиционированные номера оформлены в классическом стиле с использованием ярких тонов. Каждый номер оборудован телевизором с плоским экраном и собственной ванной комнатой с феном.

			p.tab__paragraph В ресторане можно заказать блюда баварской кухни и различные сорта пива. В лобби-баре вам предложат широкий выбор вин и коктейлей.
		ul.list-tab
			li.list-tab__item
				span.list-tab__title ЗАЕЗД 
				span.black-text с 15:00
			li.list-tab__item
				span.list-tab__title ОТЪЕЗД 
				span.black-text до 12:00
			li.list-tab__item
				span.list-tab__title Отмена и предоплата
				p.list-tab__text.black-text Правила отмены бронирования и предоплаты зависят от категории номера. Пожалуйста, ознакомьтесь с условиями бронирования номера при выборе номера из показанных выше.
			li.list-tab__item
				span.list-tab__title Разрешается проживание детей любого возраста
				p.list-tab__text.black-text
					span.blue-text Бесплатно!
					| При размещении всех детей младше 12 лет на имеющихся кроватях проживание им предоставляется бесплатно.
				p.list-tab__text.black-text
					span.blue-text Бесплатно!
					| При размещении всех детей младше 2 лет на детских кроватках проживание им предоставляется бесплатно.
				p.list-tab__text.black-text При размещении всех детей старшего возраста или взрослых на дополнительных кроватях взимается RUB 750 с человека за ночь.
				p.list-tab__text.black-text Максимальное количество дополнительных кроватей/детских кроваток в номере – 2.
				p.list-tab__text.black-text Дополнительные кровати и детские кроватки предоставляются по запросу. Требуется подтверждение со стороны отеля о предоставлении данной услуги.
			li.list-tab__item
				span.list-tab__title Размещение домашних животных
				p.list-tab__text.black-text Допускается по предварительному запросу. Данная услуга может быть платной.
		.tab__text
			p.tab__paragraph Дополнительные услуги не включаются автоматически в общую стоимость и оплачиваются отдельно во время вашего проживания.
	.tab__side.tab__side_right
		.book
			button.book__button._book-popup-link Забронировать
			span.book__text Оставьте заявку, и мы свяжемся с Вами для уточнения деталей.