.tab.tab_room
	.tab__side.tab__side_left
		.rooms
			h3.rooms__title Тип номера
			.room
				p.room__type Стандарт
				ul.room__links
					li.room__item
						a(href="javascript:;").room__link._room-popup-link Стандартный 2-местный номер с 1 кроватью
					li.room__item
						a(href="javascript:;").room__link._room-popup-link Стандартный 3-местный номер с 2 кроватями
					li.room__item
						a(href="javascript:;").room__link._room-popup-link Стандартный 3-местный номер с 3 кроватями
					li.room__item
						a(href="javascript:;").room__link._room-popup-link Стандартный 4-местный номер с 4 кроватями
			.room
				p.room__type Эконом
				ul.room__links
					li.room__item
						a(href="javascript:;").room__link._room-popup-link Эконом 2-местный номер с 1 кроватью
					li.room__item
						a(href="javascript:;").room__link._room-popup-link Эконом 3-местный номер с 2 кроватями
					li.room__item
						a(href="javascript:;").room__link._room-popup-link Эконом 3-местный номер с 3 кроватями
			.room
				p.room__type Семейный
				ul.room__links
					li.room__item
						a(href="javascript:;").room__link._room-popup-link Семейный 2-местный номер с 1 кроватью
			.room
				p.room__type Полулюкс
				ul.room__links
					li.room__item
						a(href="javascript:;").room__link._room-popup-link Полулюкс 2-местный номер с 1 кроватью
					li.room__item
						a(href="javascript:;").room__link._room-popup-link Полулюкс 3-местный номер с 2 кроватями
					li.room__item
						a(href="javascript:;").room__link._room-popup-link Полулюкс 2-местный номер с 1 кроватью
					li.room__item
						a(href="javascript:;").room__link._room-popup-link Полулюкс 3-местный номер с 2 кроватями
					li.room__item
						a(href="javascript:;").room__link._room-popup-link Полулюкс 2-местный номер с 1 кроватью
					li.room__item
						a(href="javascript:;").room__link._room-popup-link Полулюкс 3-местный номер с 2 кроватями
			.room
				p.room__type Люкс
				ul.room__links
					li.room__item
						a(href="javascript:;").room__link._room-popup-link Люкс 1-местный номер с 1 кроватью
					li.room__item
						a(href="javascript:;").room__link._room-popup-link Люкс 3-местный номер с 2 кроватями
					li.room__item
						a(href="javascript:;").room__link._room-popup-link Люкс 2-местный номер с 1 кроватью
					li.room__item
						a(href="javascript:;").room__link._room-popup-link Люкс 3-местный номер с 2 кроватями
					li.room__item
						a(href="javascript:;").room__link._room-popup-link Люкс 2-местный номер с 1 кроватью
					li.room__item
						a(href="javascript:;").room__link._room-popup-link Люкс 3-местный номер с 2 кроватями
	.tab__side.tab__side_right
		.book
			button.book__button._book-popup-link Забронировать
			span.book__text Оставьте заявку, и мы свяжемся с Вами для уточнения деталей.