.tab.tab_service
	.service-cols
		.service-cols__col
			h3.service-cols__title Ванная комната
			ul.list
				li.list__item.list__item_service Душ
				li.list__item.list__item_service Туалет
				li.list__item.list__item_service Бесплатные туалетные принадлежности
				li.list__item.list__item_service Фен
				li.list__item.list__item_service Тапочки
			h3.service-cols__title Спальня
			ul.list
				li.list__item.list__item_service Шкаф/гардероб
				li.list__item.list__item_service Будильник
			h3.service-cols__title Спорт и отдых
			ul.list
				li.list__item.list__item_service Прокат велосипедов
				li.list__item.list__item_service Вечерняя программа
			h3.service-cols__title Гостиная зона
			ul.list
				li.list__item.list__item_service Рабочий стол
			h3.service-cols__title Медиа и технологии
			ul.list
				li.list__item.list__item_service Телефон
				li.list__item.list__item_service Телевизор с плоским экраном
				li.list__item.list__item_service Платные ТВ-каналы
				li.list__item.list__item_service Кабельные каналы
			h3.service-cols__title Питание и напитки
			ul.list
				li.list__item.list__item_service Бар
				li.list__item.list__item_service Ресторан (меню)
				li.list__item.list__item_service Ресторан («шведский стол»)
		.service-cols__col
			h3.service-cols__title Интернет
			p.service-cols__text
				span.blue-text Бесплатно!
				|  Wi-Fi предоставляется на территории всего отеля бесплатно.
			h3.service-cols__title Парковка
			p.service-cols__text
				span.blue-text Бесплатно!
				|  Бесплатная частная парковка на месте (предварительный заказ не требуется).
			h3.service-cols__title Сервисы
			ul.list
				li.list__item.list__item_service Доставка еды и напитков в номер
				li.list__item.list__item_service Круглосуточная стойка регистрации
				li.list__item.list__item_service Экскурсионное бюро
				li.list__item.list__item_service Камера хранения багажа
				li.list__item.list__item_service Банкоматна территории отеля
				li.list__item.list__item_service Услуги консьержа
				li.list__item.list__item_service Прачечная
				li.list__item.list__item_service Химчистка
				li.list__item.list__item_service Услуги по глажению одежды
				li.list__item.list__item_service Чистка обуви
				li.list__item.list__item_service Конференц-зал/Банкетный зал
				li.list__item.list__item_service Факс/Ксерокопирование
				li.list__item.list__item_service Услуга «звонок-будильник»
		.service-cols__col
			h3.service-cols__title Общие
			ul.list
				li.list__item.list__item_service Сейф
				li.list__item.list__item_service Номера для некурящих
				li.list__item.list__item_service Удобства для гостей с ограниченными физическими возможностями
				li.list__item.list__item_service Лифт
				li.list__item.list__item_service Курение на всей территории запрещено
				li.list__item.list__item_service Кондиционер
				li.list__item.list__item_service Места для курения
				li.list__item.list__item_service Отопление
				li.list__item.list__item_service Ковровое покрытие
				li.list__item.list__item_service Сейф
				li.list__item.list__item_service Доступны смежные номера
			h3.service-cols__title Персонал говорит
			ul.list
				li.list__item.list__item_service На русском
				li.list__item.list__item_service На английском
				li.list__item.list__item_service На немецком