doctype html
html
	head
		meta(charset="utf-8")
		block title
			title Заголовок
		block description
			meta(name="description" content="")
		block keywords
			meta(name="keywords" content="")
		


		link(href="http://vjs.zencdn.net/5.6.0/video-js.css" rel="stylesheet")
		link(rel="stylesheet" href="_main.min.css")

		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")

		link(rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon")
		link(rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon")
		link(rel="apple-touch-icon" href="img/favicon/apple-touch-icon.png")
		link(rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-touch-icon-72x72.png")
		link(rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-touch-icon-114x114.png")
		
	body
		.page
			include ./header.jade
			block content
				//- Здесь пишем код 
		include ./footer.jade
		.hidden
			block popup
				//- Popup
			.book-popup
				h2.book-popup__title Оставить заявку
				p.book-popup__description Уточните свой запрос и наш менеджер свяжется с  вами по наличию свободных мест
				p.book-popup__mandatory * обязательные для заполнения поля
				form(action="/").form-book
					.form-book__sides
						.form-book__side.form-book__side_left
							.form-book__control
								label(for="pansions").form-book__label Пансионат*
								select#pansions(name="").form-book__select.wide
									option(value="1") 1
									option(value="2") 2
									option(value="3") 3
									option(value="4") 4
									option(value="5") 5
						.form-book__side.form-book__side_right
							.form-book__control
								label(for="cat-room").form-book__label Категория номера*
								select#cat-room(name="").form-book__select.wide
									option(value="1") 1
									option(value="2") 2
									option(value="3") 3
									option(value="4") 4
									option(value="5") 5
						.form-book__side.form-book__side_left
							.form-book__control
								label(for="datein-book").form-book__label Дата заезда*
								input#datein-book(type="text").form-book__input.form-book__input_date.datetimepicker
						.form-book__side.form-book__side_right
							.form-book__control
								label(for="dateout-book").form-book__label Дата отъезда*
								input#dateout-book(type="text").form-book__input.form-book__input_date.datetimepicker
					.form-book__sides
						.form-book__side.form-book__side_pepole.form-book__side_left
							.form-book__control
								label(for="adult-count").form-book__label Количество взрослых
								select#adult-count(name="").form-book__select.wide
									option(value="1") 1
									option(value="2") 2
									option(value="3") 3
									option(value="4") 4
									option(value="5") 5
						.form-book__side.form-book__side_pepole.form-book__side_right
							.form-book__control
								label(for="kid-count").form-book__label Количество детей
								select#kid-count(name="").form-book__select.wide
									option(value="1") 1
									option(value="2") 2
									option(value="3") 3
									option(value="4") 4
									option(value="5") 5
					.form-book__line
						input#transfer(type="checkbox").form-book__checkbox
						label(for="transfer").form-book__label.form-book__label_transfer Нужен трансфер*
					.form-book__line
						label(for="email").form-book__label Почтовый адрес
						input#email(type="text").form-book__input
					.form-book__line
						label(for="phone").form-book__label.form-book__label_phone Телефон*
						input#phone(type="text").data-inputmask.form-book__input.form-book__input_phone
					.form-book__line
						label(for="msg").form-book__label Дополнительная информация
						textarea#msg(rows="4").form-book__textarea
					.form-book__line
						button(type="submit").form-book__button Отправить

		<!--[if lt IE 9]>
		script(src="libs/html5shiv/es5-shim.min.js")
		script(src="libs/html5shiv/html5shiv.min.js")
		script(src="libs/html5shiv/html5shiv-printshiv.min.js")
		script(src="libs/respond/respond.min.js")
		<![endif]-->


		//- Load Scripts
		script.
			var scr = {"scripts":[
			{"src" : "libs/modernizr/modernizr.js", "async" : false},
			{"src" : "libs/jquery/jquery-1.11.2.min.js", "async" : false},
			{"src" : "libs/inputmask/input.mask.js", "async" : false},
			{"src" : "libs/owl/owl.carousel.min.js", "async" : false},
			{"src" : "libs/nice-select/jquery.nice-select.min.js", "async" : false},
			{"src" : "libs/datetimepicker/jquery.datetimepicker.full.min.js", "async" : false},
			{"src" : "https://api-maps.yandex.ru/2.1/?lang=ru_RU", "async" : false},
			{"src" : "http://vjs.zencdn.net/5.6.0/video.js", "async" : false},
			{"src" : "libs/magnific-popup/jquery.magnific-popup.min.js", "async" : false},
			{"src" : "libs/jcarousel/jquery.jcarousel.min.js", "async" : false},
			{"src" : "js/carousel.js", "async" : false},
			{"src" : "js/room-carousel.js", "async" : false},
			{"src" : "js/common.js", "async" : false}
			]};!function(t,n,r){"use strict";var c=function(t){if("[object Array]"!==Object.prototype.toString.call(t))return!1;for(var r=0;r<t.length;r++){var c=n.createElement("script"),e=t[r];c.src=e.src,c.async=e.async,n.body.appendChild(c)}return!0};t.addEventListener?t.addEventListener("load",function(){c(r.scripts);},!1):t.attachEvent?t.attachEvent("onload",function(){c(r.scripts)}):t.onload=function(){c(r.scripts)}}(window,document,scr);
