extends ./template/template.jade

block title
	title Семейный отдых в пансионате

block content
	.container
		ul.breadcrumbs
			li.breadcrumbs__item
				a(href="/").breadcrumbs__link Главная
				|  /
			li.breadcrumbs__item
				a(href="/").breadcrumbs__link Пансионаты
				|  /
			li.breadcrumbs__item Пансионат «ЗЕНИТ»

		.title-pansions
			.title-pansions__side
				h1.title-pansions__title Пансионат «ЗЕНИТ» 
			.title-pansions__side
				p.title-pansions__addres
					i.icon.icon_marker.title-pansions__icon
					span.title-pansions__text Республика Крым, Судак, с. Морское, ул. Пушкина, 1. 
					a(href="#").title-pansions__link Посмотреть на карте

	.container.container_clearfix
		.sidebar.sidebar_left
			form(action="/").search-form.search-form_sidebar
				h3.search-form__title Подберите номер
				p.search-form__description в пансионатах ОАК
				.search-form__control
					label(for="datein").search-form__label Дата заезда
					input(type="text")#datein.search-form__input.datetimepicker
				.search-form__control
					label(for="dateout").search-form__label Дата отъезда
					input(type="text")#dateout.search-form__input.datetimepicker
				.search-form__control
					label(for="people").search-form__label Количество гостей
					select(name="people")#people.search-form__select
						option(value="1") 1
						option(value="2") 2
						option(value="3") 3
						option(value="4") 4
						option(value="5") 5
				.search-form__control
					button(type="submit").search-form__button Найти

			.call
				h4.call__title Звоните!
				p.call__description Наши специалисты проконсультируют Вас с понедельника по пятницу круглосуточно
				a(href="tel:84959918855").call__phone
					i.icon.icon_call.call__icon
					| 8 (495) 991-88-55
				a(href="mailto:info@oak.ru").call__mail
					i.icon.icon_mail.call__icon
					| Задать вопрос


		.pansion-details
			.slider
			.nav-cam
				.nav-cam__side.nav-cam__side_left
					ul.nav
						li.nav__item.active Описание
						li.nav__item Номера и Цены
						li.nav__item Удобства и услуги
				.nav-cam__side.nav-cam__side_right
					a(href="javascript:;").cam
						i.icon.icon_cam.cam__icon
						span.cam__text Веб-камера онлайн
			.tabs
				include ./template/tab1.jade
				include ./template/tab2.jade
				include ./template/tab3.jade

				.tab.tab_video
					.video-cam
						h1.video-cam__title Веб-камера в Морском
						p.video-cam__description Веб-камера установлена на пляже






			.book-bottom
				.book-bottom__side.book-bottom__side_left
					p.book-bottom__text Если Вам нравится наш пансионат, то предлагаем забронировать номер для Вас.
				.book-bottom__side.book-bottom__side_right
					button.book-bottom__button._book-popup-link Забронировать

	.container
		a(href="#").book-in-site.book-in-site_margin
			i.icon.icon_book.book-in-site__icon
			span.book-in-site__text Забронируйте номер прямо на сайте. Оставьте заявку просто и быстро.

	.container
		.subscription.subscription_margin_small
			.subscription__heading
				h2.subscription__title Узнавай о выгодных предложениях первым
				p.subscription__description Подпишись на рассылку новостей и статей
			form(action="").subscription__form
				input(type="email" placeholder="Адрес электронной почты" required).subscription__input
				button(type="submit").subscription__button Подписаться



block popup
	.book-popup
		h2.book-popup__title Оставить заявку
		p.book-popup__description Уточните свой запрос и наш менеджер свяжется с  вами по наличию свободных мест
		p.book-popup__mandatory * обязательные для заполнения поля
		form(action="/").form-book
			.form-book__sides
				.form-book__side.form-book__side_left
					.form-book__control
						label(for="pansions").form-book__label Пансионат*
						select#pansions(name="").form-book__select.wide
							option(value="1") 1
							option(value="2") 2
							option(value="3") 3
							option(value="4") 4
							option(value="5") 5
				.form-book__side.form-book__side_right
					.form-book__control
						label(for="cat-room").form-book__label Категория номера*
						select#cat-room(name="").form-book__select.wide
							option(value="1") 1
							option(value="2") 2
							option(value="3") 3
							option(value="4") 4
							option(value="5") 5
				.form-book__side.form-book__side_left
					.form-book__control
						label(for="datein-book").form-book__label Дата заезда*
						input#datein-book(type="text").form-book__input.form-book__input_date.datetimepicker
				.form-book__side.form-book__side_right
					.form-book__control
						label(for="dateout-book").form-book__label Дата отъезда*
						input#dateout-book(type="text").form-book__input.form-book__input_date.datetimepicker
			.form-book__sides
				.form-book__side.form-book__side_pepole.form-book__side_left
					.form-book__control
						label(for="adult-count").form-book__label Количество взрослых
						select#adult-count(name="").form-book__select.wide
							option(value="1") 1
							option(value="2") 2
							option(value="3") 3
							option(value="4") 4
							option(value="5") 5
				.form-book__side.form-book__side_pepole.form-book__side_right
					.form-book__control
						label(for="kid-count").form-book__label Количество детей
						select#kid-count(name="").form-book__select.wide
							option(value="1") 1
							option(value="2") 2
							option(value="3") 3
							option(value="4") 4
							option(value="5") 5
			.form-book__line
				input#transfer(type="checkbox").form-book__checkbox
				label(for="transfer").form-book__label.form-book__label_transfer Нужен трансфер*
			.form-book__line
				label(for="email").form-book__label Почтовый адрес
				input#email(type="text").form-book__input
			.form-book__line
				label(for="phone").form-book__label Телефон*
				input#phone(type="text").data-inputmask.form-book__input.form-book__input_phone
			.form-book__line
				label(for="msg").form-book__label Дополнительная информация
				textarea#msg(rows="4").form-book__textarea
			.form-book__line
				button(type="submit").form-book__button Отправить








